{% extends 'staff_gv_template/base_template.html' %}

{% block page_title %}
    <i class="fas fa-hotel" style="color: red"></i> Quản Lí Phòng Học
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">

        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_room_gv' %}" role="button">+ Thêm Phòng Học</a> <br/>&nbsp;

            <form class="search-form " action="{% url 'manage_room_gv_search' %}" method="POST">
                 {% csrf_token %}
                <input class="search_box" type="text" name="MAPHONG" placeholder="search for something....">
            </form>

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-money-bill-alt"></i> Chi Tiết Phòng Học</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">

                                <div class="input-group-append">
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table id="myTable" class="table display table-hover text-nowrap text-danger">
                            <thead class="thead-dark ">
                                <tr>
                                    <th class="text-danger">STT</th>
                                <th>Mã Phòng</th>

                                    <th>Sĩ Số</th>
                                    <th>Mã Môn Học</th>
                                    <th>Mã Giáo Viên Cấp Phòng</th>
                                    <th>Mã Nhóm Thực Hành</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pr in rooms %}
                                <tr>
                                    <td></td>
                                <td>{{ pr.MAPHONG }}</td>

                                <td>{{ pr.Siso_phong }}</td>
                                    <td>{{ pr.MAMH.id }}</td>
                                <td>{{ pr.MAGVCAPPHONG.id }}</td>
                                    <td>{{pr.MA_TH}}</td>
                                <td>
                                    <a href="{% url 'edit_room_gv' pr.MAPHONG %}" class="btn btn-success"><i class="fas fa-edit"></i> Sửa</a>
                                    <a href="{% url 'delete_room_gv' pr.MAPHONG  %}" class="btn btn-danger"><i class="far fa-trash-alt"></i>Xoá</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
<script>
//alert("Hello! I am an alert box!!");

</script>

  {% endblock main_content %}