{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Cập Nhật Thông Tin Nhân Viên | Tài Khoản: {{ username }} | #ID : {{ id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sửa Thông Tin Nhân Viên</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% comment %} Displaying the Django Form using forms.py EditStudentForm {% endcomment %}
                    {% url 'edit_staff_gv_save' as action_path %}
                    {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Cập Nhật" %}

                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

 <div id="snackbar2" >
   <i class="fas fa-radiation-alt"></i> Tên không Được Kèm Kí Tự Số
</div>
<div id="snackbar3" >
   <i class="fas fa-radiation-alt"></i> Họ không Được Kèm Kí Tự Số
</div>
<style>
    #snackbar2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: 	white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar3 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: 	white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar3.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
  {% endblock main_content %}

  {% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

    <script>
        function checkName(input) {

        // Check if input contains a digit
        if (/\d/.test(input.value)) {
            var x = document.getElementById("snackbar2");
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);

            $('#name').focus();
            // Remove all digit characters
            input.value = input.value.replace(/\d/gi, '');
        }
         return true;
    }


    function checkName1(input) {

    // Check if input contains a digit
    if (/\d/.test(input.value)) {
        var x = document.getElementById("snackbar3");
             x.className = "show";
             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);

        $('#name1').focus();
        // Remove all digit characters
        input.value = input.value.replace(/\d/gi, '');
    }
    return true;

    }
         $(document).ready(function () {
            $('#fileImage').change(function () {
                ShowImageThumbnail(this);
            });
    })
    function ShowImageThumbnail(fileInput) {
        file=fileInput.files[0];
        reader = new FileReader();
        reader.onload= function (e) {
            $('#thumbnail').attr('src',e.target.result).css('width','10%').insertAfter("#fileImage")

        }
        reader.readAsDataURL(file);
    }
        $(document).ready(function(){
            // keyup event will be triggered when user leaves keyboard
            $("#id_email").keyup(function(){
                var email = $(this).val();

                if(email!=""){
                    $.ajax({
                        url : '{% url 'check_email_exist' %}',
                        type : 'POST',
                        data : {email:email}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Not Available. </span>").insertAfter("#id_email")
                        }
                        else{
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#id_email")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".email_error").remove();
                }

            })

            $("#id_username").keyup(function(){
                var username = $(this).val();

                if(username!=""){
                    $.ajax({
                        url : '{% url 'check_username_exist' %}',
                        type : 'POST',
                        data : {username:username}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Not Available. </span>").insertAfter("#id_username")
                        }
                        else{
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".username_error").remove();
                }

            })
        })
    </script>

  {% endblock custom_js %}