{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'student_home' %}" class="brand-link">
        <img src="{% static 'dist/img/icon.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">

        <span class="brand-text font-weight-light">HỌC VIỆN BƯU CHÍNH</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">

            <img src="{{ user.students.profile_pic }}"  alt="Avatar" style="width:60px; border-radius: 50%;"/>

          </div>
          <div class="info pt-4 ">
            <a href="{% url 'student_profile' %}" class="d-block" style="font-size: large;font-weight: bold">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            </li>
-->
            <li class="nav-item">
              {% url 'student_feedback' as student_feedback %}
              <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Gửi Phản Hồi
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
              <!-- kết quả đăng kí môn học -->
               <li class="nav-item">
              {% url 'student_result_register' as student_result_register %}
              <a href="{{ student_result_register }}" class="nav-link {% if request.path == student_result_register %} active {% endif %}">
                <i class="fas fa-poll" style="color: green"></i>
                <p>
                  Kết Quả Đăng Kí Môn Học
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <!--Đăng Kí Môn Học-->
            <li class="nav-item">
              {% url 'student_register_course' as student_register_course %}
              <a href="{{ student_register_course }}" class="nav-link {% if request.path == student_register_course %} active {% endif %}">

                <p>
                 <span class="far fa-registered" style="color: red"></span> Đăng Kí Môn Học
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
            <!--In ra thời khoá biểu-->
              <li class="nav-item">
              {% url 'student_view_timetable' as student_view_timetable %}
              <a href="{{ student_view_timetable }}" class="nav-link {% if request.path == student_view_timetable %} active {% endif %}">

                <p>
                 <span class="far fa-calendar-alt" style="color: yellow"></span> Thời Khoá Biểu
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
        <!--In ra ct dao tao-->
              <li class="nav-item">
              {% url 'student_view_diploma' as student_view_diploma %}
              <a href="{{ student_view_diploma }}" class="nav-link {% if request.path == student_view_diploma %} active {% endif %}">

                <p>
                 <span class="fas fa-university" style="color:greenyellow"></span> CT Đào Tạo
                  {% comment %} <span class="right badge badge-danger" >New</span> {% endcomment %}
                </p>
              </a>
            </li>







          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>